#education {
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
    /* flex-direction: column; */
    min-height: 500px;
    background-image: url("../images/bg-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.vertical-timeline span {
    color: white;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: white;
}

.vertical-timeline-element p {
    color: white;
}

.vertical-timeline-element h3 {
    color: white;
}

.vertical-timeline-element h4 {
    color: white;
}

.vertical-timeline-element span {
    color: white;
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: white;
}

.svg-inline--fa {
    color: white;
}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: white;
    }
}